@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
.header {
  width: 100%;
  margin: 0 auto;
  min-width: 950px;
}

.c-header1 {
  width: 100%;
  background-color: #640000;
  border-bottom: 1px solid #7a0000;
  padding-bottom: 4px;
}

.c-header1__content {
  font-size: 1.2rem;
  font-family: Meiryo;
  color: #fff;
}

.c-header2 {
  width: 100%;
  background-color: #640000;
  padding: 15px 0;
}

.c-header2__info {
  float: right;
}

.c-header2__info__content {
  float: left;
}

.c-header2__info__content p {
  font-size: 1.4rem;
  font-family: RyuminPro;
  color: #fff;
  padding-top: 12px;
}

.c-header2__info__contact {
  float: left;
}

.c-header2__info__contact img {
  float: left;
  padding: 0 4px;
}

.c-header2__info__contact__detail {
  float: left;
}

.c-header2__info__contact__detail__time {
  font-size: 1.2rem;
  font-family: RyuminPro;
  line-height: 14px;
  color: #fff;
}

.c-header2__info__contact__detail__phone {
  font-size: 2.6rem;
  font-family: Tonite;
  line-height: 26px;
  color: #cdb140;
}

.c-header2__info__contact__detail__phone::after {
  content: '（代表）';
  font-size: 1.6rem;
  font-family: RyuminPro;
  font-weight: bold;
  color: #fff;
  vertical-align: top;
  margin-left: -5px;
}

.c-logo {
  float: left;
}

.c-gnav {
  width: 100%;
  margin: 0 auto;
  background-color: #b20000;
  border-bottom: 4px solid #cdb140;
}

.c-gnav ul li {
  float: left;
  text-align: center;
  border-right: 1px solid #750000;
  padding: 6px 30px;
}

.c-gnav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: RyuminPro;
  font-weight: bold;
  color: #f2f1d9;
}

.c-gnav ul li:first-child {
  border-left: 1px solid #750000;
  padding: 17px 30px;
}

.c-gnav ul li:nth-child(2) {
  padding: 17px 30px;
}

.c-gnav ul li:nth-child(7) {
  padding: 17px 30px;
}

.clear {
  clear: both;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  width: 100%;
  margin: 0 auto;
}

.c-footer1 {
  width: 100%;
  margin: 0 auto;
  background-image: url(../image/common/bg_footer.png);
  border-bottom: 1px solid #570000;
}

.c-footer1 ul {
  padding: 25px 0;
}

.c-footer1 ul li {
  float: left;
  border-right: 1px solid #fff;
  padding: 0 12px;
}

.c-footer1 ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 14px;
  font-family: Meiryo;
  font-weight: 500;
  color: #fff;
}

.c-footer1 ul li:nth-child(7) {
  border-right: 0;
}

.c-footer2 {
  width: 100%;
  margin: 0 auto;
  background-image: url(../image/common/bg_footer.png);
  padding: 47px 0;
  border-top: 1px solid #ff6666;
}

.c-footer2__left {
  float: left;
}

.c-footer2__left li {
  list-style: square;
  color: #fff;
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: bold;
  padding-left: 7px;
}

.c-footer2__left p {
  font-size: 1.4rem;
  font-family: Meiryo;
  color: #fff;
}

.c-footer2__right {
  float: right;
  padding-right: 30px;
}

.c-footer2__right li {
  list-style: square;
  color: #fff;
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: bold;
  padding-left: 7px;
}

.c-footer2__right p {
  font-size: 1.4rem;
  font-family: Meiryo;
  color: #fff;
}

.c-footer3 {
  width: 100%;
  margin: 0 auto;
  background-color: #640000;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #b20000;
}

.c-footer3 p {
  font-size: 1.2rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #fff;
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  min-width: 950px;
}

.l-container {
  width: 950px;
  margin: 0 auto;
}

.l-flame1 {
  width: 100%;
}

.l-flame1__left {
  width: 600px;
  float: left;
}

.l-flame1__left__info {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
  padding-bottom: 25px;
}

.l-flame1__right {
  width: 320px;
  float: right;
}

.l-flame2 {
  width: 100%;
  padding: 50px 0;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-maintitle1 {
  width: 100%;
  position: relative;
}

.c-maintitle1 img {
  width: 100%;
}

.c-maintitle1__content {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -38px;
  text-align: center;
}

.c-maintitle1__content__big {
  font-size: 3.6rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #f2f1d8;
}

.c-maintitle1__content__small {
  font-size: 1.8rem;
  font-family: Times New Roman;
  font-weight: 500;
  color: #f2f1d8;
}

.c-title1 {
  text-align: center;
  margin: 30px 0;
}

.c-title1__big {
  font-size: 3.4rem;
  line-height: 40px;
  font-family: RyuminPro;
  font-weight: 500;
  color: #640000;
  text-decoration: none;
}

.c-title1__sub {
  font-size: 2rem;
  line-height: 24px;
  font-family: Times New Roman;
  font-weight: 500;
  color: #a50000;
}

.c-title2 {
  border-top: 1px solid #a50000;
  border-bottom: 1px solid #a50000;
  padding: 26px 0;
}

.c-title2 p {
  font-size: 2.2rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #640000;
}

.c-title3 {
  text-align: center;
  border-top: 1px solid #a50000;
  border-bottom: 1px solid #a50000;
  padding: 28px 0;
}

.c-title3 p {
  font-size: 2.4rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #640000;
  line-height: 32px;
  display: inline-block;
}

.c-title4 {
  text-align: center;
  padding: 0 0 30px;
}

.c-title4 p {
  font-size: 3.4rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #640000;
}

.c-title5 {
  padding: 0 0 25px;
}

.c-title5 p {
  font-size: 2.2rem;
  line-height: 22px;
  font-family: RyuminPro;
  font-weight: 500;
  color: #640000;
  display: inline-block;
}

.c-title6 p {
  font-size: 1.6rem;
  font-family: Meiryo;
  font-weight: bold;
  color: #a50000;
}

.c-title7 {
  text-align: right;
  padding: 20px 0;
}

.c-title7 p {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: bold;
  color: #a50000;
}

.c-title100 {
  background-image: url(../image/top/bg.png);
  position: relative;
}

.c-title100 .c-btn1 {
  position: absolute;
  right: 22%;
  top: 3px;
}

.c-title100 .c-title1 {
  margin: 0;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-table1 {
  width: 100%;
}

.c-table1 table {
  width: 100%;
  border-collapse: collapse;
}

.c-table1 table th {
  width: 240px;
  border-top: 1px solid #ceceb7;
  border-bottom: 1px solid #ceceb7;
  background-color: #dfdfd0;
  font-size: 1.4rem;
  font-family: Meiryo;
  color: #000;
  text-align: left;
  padding: 18px 20px;
}

.c-table1 table td {
  width: 710px;
  border-top: 1px solid #ceceb7;
  border-bottom: 1px solid #ceceb7;
  font-size: 1.4rem;
  font-family: Meiryo;
  color: #000;
  font-weight: 500;
  padding: 18px 20px;
}

.c-table1--color2 th {
  background-color: #fff !important;
}

.c-table1--color2 td {
  background-image: url(../image/teamshien/bg_table2.png);
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-btn1 {
  background-color: #2f4f92;
  width: 170px;
  border-radius: 2px;
  text-align: center;
}

.c-btn1 a {
  font-size: 2rem;
  font-family: Times New Roman;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 6.5px 0;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-list1 {
  padding: 25px 0;
}

.c-list1 li {
  list-style: url(../image/shien/icon_list1.png);
  font-size: 1.4rem;
  line-height: 20px;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
}

.c-list2 {
  background-image: url(../image/top/bg.png);
}

.c-list2 li {
  list-style: none;
  font-size: 1.4rem;
  line-height: 18px;
  font-family: Meiryo;
  font-weight: 500;
  color: #a50000;
  padding: 30px 0 30px 15px;
  border-bottom: 1px solid #bbb;
}

.c-list2 li::before {
  content: url(../image/top/icon_list.png);
  padding-right: 18px;
}

.c-list2 li span {
  color: #000;
  padding-left: 20px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-entry1 {
  width: 100%;
}

.c-entry1__text {
  width: 550px;
  float: left;
}

.c-entry1__text p {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
}

.c-entry1__img {
  width: 350px;
  float: right;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
.c-breadcrumbs {
  width: 100%;
  background-color: #dfdfd0;
  padding: 10px 0;
}

.c-breadcrumbs a {
  font-size: 1.2rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #a50000;
}

.c-breadcrumbs p {
  font-size: 1.2rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
  display: inline;
}

.c-breadcrumbs p::before {
  content: '>';
  font-size: 1.2rem;
  color: #000;
  padding: 0 3px;
}

.c-nav1 {
  width: 100%;
}

.c-nav1__item {
  width: 220px;
  float: left;
  border: 1px solid #dfdfd0;
  text-align: center;
  margin-right: 23px;
  padding: 16px 0;
  position: relative;
}

.c-nav1__item::after {
  content: url(../image/company/icon_nav1.png);
  position: absolute;
  right: 1px;
  bottom: -4px;
}

.c-nav1__item__content {
  font-size: 1.4rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #2b0000;
}

.c-nav1__item:nth-child(4) {
  margin-right: 0;
}

.c-nav2 {
  width: 100%;
}

.c-nav2__item {
  width: 460px;
  float: left;
  position: relative;
  margin: 0 30px 30px 0;
}

.c-nav2__item__info {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -33px;
}

.c-nav2__item__info p {
  font-size: 2.2rem;
  line-height: 26px;
  font-family: RyuminPro;
  font-weight: 500;
  color: #fefefe;
  padding-top: 30px;
}

.c-nav2__item:nth-child(2n) {
  margin: 0 0 30px 0;
}

.c-nav2__item:nth-child(4) .c-nav2__item__info p {
  padding-top: 6px;
}

/*------------------------------------------------------------

------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
/*------------------------------------------------------------

------------------------------------------------------------*/
.c-mainvisual {
  width: 100%;
}

.c-mainvisual img {
  width: 100%;
}

.c-info1 {
  width: 540px;
  float: left;
  background-color: #dfdfd0;
  padding: 18px 20px;
}

.c-info1__title {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: bold;
  color: #a50000;
}

.c-info1 li {
  list-style-type: square;
  color: #a50000;
  font-size: 1.4rem;
}

.c-info1 li a {
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
}

.c-info2 {
  width: 360px;
  background-color: #dfdfd0;
  padding: 20px;
}

.c-info2__title {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: bold;
  color: #000;
}

.c-info2__content {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
}

.c-info2--color2 {
  background-color: #fff;
}

.c-info3 {
  background-image: url(../image/top/bg_info.png);
  border: 1px solid #f4f2d7;
  padding: 41px 50px;
}

.c-info3__left {
  width: 475px;
  float: left;
  border-right: 1px solid #f4f2d7;
}

.c-info3__left__title__big {
  font-size: 2rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #3b2e1d;
}

.c-info3__left__title__small {
  font-size: 1.6rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #3a2d1d;
  padding: 4px 0 12px;
}

.c-info3__left__contact {
  width: 365px;
  padding: 13px 20px;
  background-color: #fff;
}

.c-info3__left__contact__info {
  display: inline-block;
}

.c-info3__left__contact__info__time {
  font-size: 1.2rem;
  line-height: 14px;
  font-family: RyuminPro;
  font-weight: 500;
  color: #930000;
}

.c-info3__left__contact__info__phone {
  font-size: 3rem;
  line-height: 30px;
  font-family: Tonite;
  font-weight: 500;
  color: #930000;
}

.c-info3__left__contact__info__phone::after {
  content: '（代表）';
  font-size: 2rem;
  font-family: RyuminPro;
  font-weight: bold;
  color: #930000;
  vertical-align: top;
}

.c-info3__right {
  width: 370px;
  float: left;
  padding: 0 35px;
}

.c-info3__right__info {
  padding-bottom: 17px;
}

.c-info3__right__info img {
  padding: 0 15px;
}

.c-info3__right__info__content {
  display: inline-block;
  font-size: 1.4rem;
  font-family: RyuminPro;
  font-weight: 500;
  color: #640000;
}

.c-info3__right__info:nth-child(3) img {
  padding: 0 10px;
}

.c-map1 {
  width: 100%;
}

.c-map1 iframe {
  width: 100%;
}

.c-mapBlock {
  width: 100%;
}

.c-mapBlock iframe {
  width: 100%;
}

.c-mapBlock__link a {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #0000ff;
}

.c-mapBlock__info p {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
}

.c-gotop {
  position: absolute;
  bottom: 65px;
  right: 20%;
}

.c-text1 {
  background-image: url(../image/teamsakata/bg_text.png);
}

.c-text1 p {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
  letter-spacing: -0.05px;
}

/*------------------------------------------------------------
top
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-top {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-top1 {
  width: 100%;
}

.p-top2 {
  background: url(../image/common/bg1.png);
  padding: 50px 0;
}

.p-top3 {
  width: 100%;
  padding: 40px 0;
}

.p-top4 {
  width: 100%;
  background: url(../image/common/bg2.png);
  padding: 60px 0;
}

/*------------------------------------------------------------
news
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-news {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-news .c-gotop {
  bottom: 0;
}

.p-news1 {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.p-news1 section {
  margin-bottom: 70px;
}

/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-teamsakata {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-teamsakata1 {
  width: 100%;
  margin: 0 auto;
}

.p-teamsakata2 {
  width: 100%;
  margin: 0 auto;
}

.p-teamsakata2 .c-info2 {
  width: 535px;
  padding: 8px 20px;
  border: 2px solid #ccc;
}

.p-teamsakata2 .c-info2__title {
  width: 340px;
  float: left;
  font-size: 1.2rem;
}

.p-teamsakata2 .c-info2__content {
  float: right;
}

.p-teamsakata2 .l-flame1__left__info span {
  font-weight: bold;
}

.p-teamsakata3 {
  width: 100%;
  margin: 0 auto;
}

.p-teamsakata4 {
  width: 100%;
  margin: 0 auto;
}

.p-teamsakata5 {
  width: 100%;
  margin: 0 auto;
}

/*------------------------------------------------------------
shien
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-shien {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-shien1 {
  width: 100%;
  margin: 0 auto;
}

.p-shien1 .c-title6 {
  padding-bottom: 15px;
}

.p-shien2 {
  width: 100%;
  margin: 0 auto;
}

.p-shien3 {
  width: 100%;
  margin: 0 auto;
}

.p-shien4 {
  width: 100%;
  margin: 0 auto;
}

.p-shien5 {
  width: 100%;
  margin: 0 auto;
}

/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-teamshien {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-teamshien1 {
  width: 100%;
  margin: 0 auto;
}

.p-teamshien2 {
  width: 100%;
  margin: 0 auto;
}

.p-teamshien3 {
  width: 100%;
  margin: 0 auto;
}

.p-teamshien3 .c-title6 {
  padding-bottom: 20px;
}

.p-teamshien4 {
  width: 100%;
  margin: 0 auto;
}

.p-teamshien5 {
  width: 100%;
  margin: 0 auto;
}

.p-teamshien5 .c-title6 {
  padding-bottom: 20px;
}

.p-teamshien6 {
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}

.p-teamshien7 {
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}

.p-teamshien7__info p {
  font-size: 1.4rem;
  font-family: Meiryo;
  font-weight: 500;
  color: #000;
  padding-bottom: 20px;
}

.p-teamshien8 {
  width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}

/*------------------------------------------------------------
sakura
------------------------------------------------------------*/
/* 
------------------------------------------------------------*/
.p-sakura {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-sakura1 {
  width: 100%;
  margin: 0 auto;
}

.p-sakura1 .c-title4 {
  letter-spacing: -2.5px;
}

.p-sakura2 {
  width: 100%;
  margin: 0 auto;
}

.p-sakura3 {
  width: 100%;
  margin: 0 auto;
}

.p-sakura4 {
  width: 100%;
  margin: 0 auto;
}

.p-sakura5 {
  width: 100%;
  margin: 0 auto;
}

/*------------------------------------------------------------
company
------------------------------------------------------------*/
.p-company {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.p-company .c-table1 {
  margin: 40px 0;
}

.p-company1 {
  width: 100%;
  margin: 50px auto;
}

.p-company2 {
  width: 100%;
  margin: 0 auto;
}

.p-company2 section {
  padding-bottom: 20px;
}

/*------------------------------------------------------------
for develop browser-sync
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.u-bg1 {
  background: url(../image/common/bg1.png);
}

.u-bg2 {
  background: url(../image/common/bg2.png);
}
