/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.footer {
	width: 100%;
	margin: 0 auto;
}


/* site map
------------------------------------------------------------*/
.c-footer1 {
	width: 100%;
	margin: 0 auto;
	background-image: url(../image/common/bg_footer.png);
	border-bottom: 1px solid #570000;

	ul {
		padding: 25px 0;
		li {
			float: left;
			border-right: 1px solid #fff;
			padding: 0 12px;

			a {
				text-decoration: none;
				font-size: 1.4rem;
				line-height: 14px;
				font-family: Meiryo;
				font-weight: 500;
				color: #fff;
			}
		}
		li:nth-child(7) {
			border-right: 0;
		}
	}
}

/* info
------------------------------------------------------------*/
.c-footer2 {
	width: 100%;
	margin: 0 auto;
	background-image: url(../image/common/bg_footer.png);
	padding: 47px 0;
	border-top: 1px solid #ff6666;

	&__left {
		float: left;
		li {
			list-style: square;
			color: #fff;
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: bold;
			padding-left: 7px;
		}

		p {
			font-size: 1.4rem;
			font-family: Meiryo;
			color: #fff;
		}
	}

	&__right {
		float: right;
		padding-right: 30px;

		li {
			list-style: square;
			color: #fff;
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: bold;
			padding-left: 7px;
		}

		p {
			font-size: 1.4rem;
			font-family: Meiryo;
			color: #fff;
		}
	}
}

/* copyright
------------------------------------------------------------*/
.c-footer3 {
	width: 100%;
	margin: 0 auto;
	background-color: #640000;
	text-align: center;
	padding: 10px 0;
	border-bottom: 2px solid #b20000;

	p {
		font-size: 1.2rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #fff;
	}
}