/*------------------------------------------------------------
header
------------------------------------------------------------*/

.header {
	width: 100%;
	margin: 0 auto;
	min-width: 950px;
}

/* header 1
------------------------------------------------------------*/
.c-header1 {
	width: 100%;
	background-color: #640000;
	border-bottom: 1px solid #7a0000;
	padding-bottom: 4px;

	// content
	//-------------------------------------------------------
	&__content {
		font-size: 1.2rem;
		font-family: Meiryo;
		color: #fff;
	}
}

/* header 2
------------------------------------------------------------*/
.c-header2 {
	width: 100%;
	background-color: #640000;
	padding: 15px 0;

	// info
	//-------------------------------------------------------
	&__info {
		float: right;

		// content
		//-------------------------------------------------------
		&__content {
			float: left;

			p {
				font-size: 1.4rem;
				font-family: RyuminPro;
				color: #fff;
				padding-top: 12px
			}
		}

		// contact
		//-------------------------------------------------------
		&__contact {
			float: left;

			// image
			//-------------------------------------------------------
			img {
				float: left;
				padding: 0 4px;
			}

			// detail
			//-------------------------------------------------------
			&__detail {
				float: left;

				// time
				//-------------------------------------------------------
				&__time {
					font-size: 1.2rem;
					font-family: RyuminPro;
					line-height: 14px;
					color: #fff;
				}

				// phone
				//-------------------------------------------------------
				&__phone {
					font-size: 2.6rem;
					font-family: Tonite;
					line-height: 26px;
					color: #cdb140;
					&::after {
						content: '（代表）';
						font-size: 1.6rem;
						font-family: RyuminPro;
						font-weight: bold;
						color: #fff;
						vertical-align: top;
						margin-left: -5px;
					}
				}
			}
		}
	}
}

/* logo
------------------------------------------------------------*/
.c-logo {
	float: left;
}

/* gnav
------------------------------------------------------------*/
.c-gnav {
	width: 100%;
	margin: 0 auto;
	background-color: #b20000;
	border-bottom: 4px solid #cdb140;

	//
	//-------------------------------------------------------
	ul {
		li {
			float: left;
			text-align: center;
			border-right: 1px solid #750000;
			padding: 6px 30px;

			a {
				text-decoration: none;
				font-size: 1.4rem;
				font-family: RyuminPro;
				font-weight: bold;
				color: #f2f1d9;
			}
		}

		li:first-child {
			border-left: 1px solid #750000;
			padding: 17px 30px;
		}
		li:nth-child(2) {
			padding: 17px 30px;
		}
		li:nth-child(7) {
			padding: 17px 30px;
		}
	}
}
.clear {
	clear: both;
}
