/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
	min-width: 950px;
}

/* container
------------------------------------------------------------*/
.l-container {
	width: 950px;
	margin: 0 auto;
}

/* flame 1
------------------------------------------------------------*/
.l-flame1 {
	width: 100%;
	
	// left
	//-------------------------------------------------------
	&__left {
		width: 600px;
		float: left;

		//
		//-------------------------------------------------------
		&__info {
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: 500;
			color: #000;
			padding-bottom: 25px;
		}
	}

	// right
	//-------------------------------------------------------
	&__right {
		width: 320px;
		float: right;
	}
}


/* flame 2
------------------------------------------------------------*/
.l-flame2 {
	width: 100%;
	padding: 50px 0;
}