/*------------------------------------------------------------
company
------------------------------------------------------------*/

.p-company {
	width: 100%;
	margin: 0 auto;
	position: relative;

	.c-table1 {
		margin: 40px 0;
	}
}

// p-company 1
//------------------------------------------------------------
.p-company1 {
	width: 100%;
	margin: 50px auto;
}

// p-company 2
//------------------------------------------------------------
.p-company2 {
	width: 100%;
	margin: 0 auto;

	section {
		padding-bottom: 20px;
	}

}