/*------------------------------------------------------------
news
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-news {
	width: 100%;
	margin: 0 auto;
	position: relative;

	.c-gotop {
		bottom: 0;
	}
}

// p-news1
//------------------------------------------------------------
.p-news1 {
	width: 100%;
	padding-top: 50px;
	position: relative;

	section {
		margin-bottom: 70px;
	}
}