/*------------------------------------------------------------
sakura
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-sakura {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// p-sakura 1
//------------------------------------------------------------
.p-sakura1 {
	width: 100%;
	margin: 0 auto;

	.c-title4 {
		letter-spacing: -2.5px;
	}
}

// p-sakura 2
//------------------------------------------------------------
.p-sakura2 {
	width: 100%;
	margin: 0 auto;
}

// p-sakura 3
//------------------------------------------------------------
.p-sakura3 {
	width: 100%;
	margin: 0 auto;
}

// p-sakura 4
//------------------------------------------------------------
.p-sakura4 {
	width: 100%;
	margin: 0 auto;
}

// p-sakura 5
//------------------------------------------------------------
.p-sakura5 {
	width: 100%;
	margin: 0 auto;
}