/*------------------------------------------------------------
shien
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-shien {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// p-shien 1
//------------------------------------------------------------
.p-shien1 {
	width: 100%;
	margin: 0 auto;

	.c-title6 {
		padding-bottom: 15px;
	}
}

// p-shien 2
//------------------------------------------------------------
.p-shien2 {
	width: 100%;
	margin: 0 auto;
}


// p-shien 3
//------------------------------------------------------------
.p-shien3 {
	width: 100%;
	margin: 0 auto;
}


// p-shien 4
//------------------------------------------------------------
.p-shien4 {
	width: 100%;
	margin: 0 auto;
}

// p-shien 5
//------------------------------------------------------------
.p-shien5 {
	width: 100%;
	margin: 0 auto;
}