/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-teamsakata {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// p-teamsakata 1
//------------------------------------------------------------
.p-teamsakata1 {
	width: 100%;
	margin: 0 auto;
}

// p-teamsakata 2
//------------------------------------------------------------
.p-teamsakata2 {
	width: 100%;
	margin: 0 auto;

	.c-info2 {
		width: 535px;
		padding: 8px 20px;
		border: 2px solid #ccc;

		&__title {
			width: 340px;
			float: left;
			font-size: 1.2rem;


		}

		&__content {
			float: right;
		}
	}

	.l-flame1__left__info {
		span {
			font-weight: bold;
		}
	}
}

// p-teamsakata 3
//------------------------------------------------------------
.p-teamsakata3 {
	width: 100%;
	margin: 0 auto;
}

// p-teamsakata 4
//------------------------------------------------------------
.p-teamsakata4 {
	width: 100%;
	margin: 0 auto;
}

// p-teamsakata 5
//------------------------------------------------------------
.p-teamsakata5 {
	width: 100%;
	margin: 0 auto;
}