/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-teamshien {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// p-teamshien 1
//------------------------------------------------------------
.p-teamshien1 {
	width: 100%;
	margin: 0 auto;
}

// p-teamshien 2
//------------------------------------------------------------
.p-teamshien2 {
	width: 100%;
	margin: 0 auto;
}

// p-teamshien 3
//------------------------------------------------------------
.p-teamshien3 {
	width: 100%;
	margin: 0 auto;

	.c-title6 {
		padding-bottom: 20px;
	}
}

// p-teamshien 4
//------------------------------------------------------------
.p-teamshien4 {
	width: 100%;
	margin: 0 auto;
}

// p-teamshien 5
//------------------------------------------------------------
.p-teamshien5 {
	width: 100%;
	margin: 0 auto;

	.c-title6 {
		padding-bottom: 20px;
	}
}

// p-teamshien 6
//------------------------------------------------------------
.p-teamshien6 {
	width: 100%;
	margin: 0 auto;
	padding: 70px 0;
}


// p-teamshien 7
//------------------------------------------------------------
.p-teamshien7 {
	width: 100%;
	margin: 0 auto;
	padding: 70px 0;

	&__info {
		p {
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: 500;
			color: #000;
			padding-bottom: 20px;
		}
	}
}

// p-teamshien 8
//------------------------------------------------------------
.p-teamshien8 {
	width: 100%;
	margin: 0 auto;
	padding: 70px 0;
}