/*------------------------------------------------------------
top
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-top {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// p-top 1
//------------------------------------------------------------
.p-top1 {
	width: 100%;
}

// p-top 2
//------------------------------------------------------------
.p-top2 {
	background: url(../image/common/bg1.png);
	padding: 50px 0;
}

// p-top 3
//------------------------------------------------------------
.p-top3 {
	width: 100%;
	padding: 40px 0;
}

// p-top 4
//------------------------------------------------------------
.p-top4 {
	width: 100%;
	background: url(../image/common/bg2.png);
	padding: 60px 0;
}