/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-btn1 {
	background-color: #2f4f92;
	width: 170px;
	border-radius: 2px;
	text-align: center;

	//
	//-------------------------------------------------------
	a {
		font-size: 2rem;
		font-family: Times New Roman;
		font-weight: 500;
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 6.5px 0;
	}
}