/*------------------------------------------------------------
entry
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-entry1 {
	width: 100%;

	//	text
	//-------------------------------------------------------
	&__text {
		width: 550px;
		float: left;

		p {
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: 500;
			color: #000;
		}
	}

	//	image
	//-------------------------------------------------------
	&__img {
		width: 350px;
		float: right;
	}
}