/*------------------------------------------------------------
list
------------------------------------------------------------*/

/* 1
------------------------------------------------------------*/
.c-list1 {
	padding: 25px 0;
	li {
		list-style: url(../image/shien/icon_list1.png);
		font-size: 1.4rem;
		line-height: 20px;
		font-family: Meiryo;
		font-weight: 500;
		color: #000;
	}
}

/* 2
------------------------------------------------------------*/
.c-list2 {
	background-image: url(../image/top/bg.png);

	li {
		list-style:none;
		font-size: 1.4rem;
		line-height: 18px;
		font-family: Meiryo;
		font-weight: 500;
		color: #a50000;
		padding: 30px 0 30px 15px;
		border-bottom: 1px solid #bbb;
		&::before {
			content: url(../image/top/icon_list.png);
			padding-right: 18px;
		}

		span {
			color: #000;
			padding-left: 20px;
		}
	}


}