/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/* breadcrumbs
------------------------------------------------------------*/
.c-breadcrumbs {
	width: 100%;
	background-color: #dfdfd0;
	padding: 10px 0;

	a {
		font-size: 1.2rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #a50000;
	}

	p {
		font-size: 1.2rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #000;
		display: inline;
		&::before {
			content: '>';
			font-size: 1.2rem;
			color: #000;
			padding: 0 3px;
		}
	}
}

/* 1
------------------------------------------------------------*/
.c-nav1 {
	width: 100%;

	&__item {
		width: 220px;
		float: left;
		border: 1px solid #dfdfd0;
		text-align: center;
		margin-right: 23px;
		padding: 16px 0;
		position: relative;
		&::after {
			content: url(../image/company/icon_nav1.png);
			position: absolute;
			right: 1px;
			bottom: -4px;
		}

		&__content {
			font-size: 1.4rem;
			font-family: RyuminPro;
			font-weight: 500;
			color: #2b0000;
		}
	}

	&__item:nth-child(4) {
		margin-right: 0;
	}
}


/* 2
------------------------------------------------------------*/
.c-nav2 {
	width: 100%;

	&__item {
		width: 460px;
		float: left;
		position: relative;
		margin: 0 30px 30px 0;

		&__info {
			position: absolute;
			width: 100%;
			text-align: center;
			top: 50%;
			margin-top: -33px;
			
			p {
				font-size: 2.2rem;
				line-height: 26px;
				font-family: RyuminPro;
				font-weight: 500;
				color: #fefefe;
				padding-top: 30px;
			}
		}
	}

	&__item:nth-child(2n) {
		margin: 0 0 30px 0;
	}

}

.c-nav2__item:nth-child(4) .c-nav2__item__info p {
	padding-top: 6px;
}