/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* main visual
------------------------------------------------------------*/
.c-mainvisual {
	width: 100%;

	img {
		width: 100%;
	}
}

/* info 1
------------------------------------------------------------*/
.c-info1 {
	width: 540px;
	float: left;
	background-color: #dfdfd0;
	padding: 18px 20px;

	//	title
	//-------------------------------------------------------
	&__title {
		font-size: 1.4rem;
		font-family: Meiryo;
		font-weight: bold;
		color: #a50000;
	}

	li {
		list-style-type: square;
		color: #a50000;
		font-size: 1.4rem;

		a {
			font-family: Meiryo;
			font-weight: 500;
			color: #000;
		}
	}
}

/* info 2
------------------------------------------------------------*/
.c-info2 {
	width: 360px;
	background-color: #dfdfd0;
	padding: 20px;

	//	title
	//-------------------------------------------------------
	&__title {
		font-size: 1.4rem;
		font-family: Meiryo;
		font-weight: bold;
		color: #000;
	}

	//	content
	//-------------------------------------------------------
	&__content {
		font-size: 1.4rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #000;
	}

	//	color 2
	//-------------------------------------------------------
	&--color2 {
		background-color: #fff;
	}
}

/* info 3
------------------------------------------------------------*/
.c-info3 {
	background-image: url(../image/top/bg_info.png);
	border: 1px solid #f4f2d7;
	padding:41px 50px;

	//	left
	//-------------------------------------------------------
	&__left {
		width: 475px;
		float: left;
		border-right: 1px solid #f4f2d7;

		//	
		//-------------------------------------------------------
		&__title__big {
			font-size: 2rem;
			font-family: RyuminPro;
			font-weight: 500;
			color: #3b2e1d;
		}

		//
		//-------------------------------------------------------
		&__title__small {
			font-size: 1.6rem;
			font-family: RyuminPro;
			font-weight: 500;
			color: #3a2d1d;
			padding: 4px 0 12px;
		}


		//	
		//-------------------------------------------------------
		&__contact {
			width: 365px;
			padding: 13px 20px;
			background-color: #fff;

			&__info {
				display: inline-block;

				&__time {
					font-size: 1.2rem;
					line-height: 14px;
					font-family: RyuminPro;
					font-weight: 500;
					color: #930000;
				}

				&__phone {
					font-size: 3rem;
					line-height: 30px;
					font-family: Tonite;
					font-weight: 500;
					color: #930000;
					&::after {
						content: '（代表）';
						font-size: 2rem;
						font-family: RyuminPro;
						font-weight: bold;
						color: #930000;
						vertical-align: top;
					}
				}
			}
		}
	}

	//	right
	//-------------------------------------------------------
	&__right {
		width: 370px;
		float: left;
		padding: 0 35px;

		&__info {
			padding-bottom: 17px;

			img {
				padding: 0 15px;
			}

			&__content {
				display: inline-block;
				font-size: 1.4rem;
				font-family: RyuminPro;
				font-weight: 500;
				color: #640000;
			}
		}

		&__info:nth-child(3) {
			img {
				padding: 0 10px;
			}
		}
	}
}

/* map 1
------------------------------------------------------------*/
.c-map1 {
	width: 100%;

	iframe {
		width: 100%;
	}
}


/* map 2
------------------------------------------------------------*/
.c-mapBlock {
	width: 100%;


	//
	//-------------------------------------------------------
	iframe {
		width: 100%;
	}

	//	link
	//-------------------------------------------------------
	&__link {
		a {
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: 500;
			color: #0000ff
		}
	}

	//	info
	//-------------------------------------------------------
	&__info {
		p {
			font-size: 1.4rem;
			font-family: Meiryo;
			font-weight: 500;
			color: #000;
		}
	}
}

/* button go top
------------------------------------------------------------*/
.c-gotop {
	position: absolute;
	bottom: 65px;
	right: 20%;
}


/* text 1
------------------------------------------------------------*/
.c-text1 {
	background-image: url(../image/teamsakata/bg_text.png);
	p {
		font-size: 1.4rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #000;
		letter-spacing: -0.05px;
	}
}