/*------------------------------------------------------------
table
------------------------------------------------------------*/

/* 2
------------------------------------------------------------*/
.c-table1 {
	width: 100%;

	table {
		width: 100%;
		border-collapse: collapse;

		th {
			width: 240px;
			border-top: 1px solid #ceceb7;
			border-bottom: 1px solid #ceceb7;
			background-color: #dfdfd0;
			font-size: 1.4rem;
			font-family: Meiryo;
			color: #000;
			text-align: left;
			padding: 18px 20px;
		}

		td {
			width: 710px;
			border-top: 1px solid #ceceb7;
			border-bottom: 1px solid #ceceb7;
			font-size: 1.4rem;
			font-family: Meiryo;
			color: #000;
			font-weight: 500;
			padding: 18px 20px;
		}
	}

	// table 1 color 2
	//------------------------------------------------------------
	&--color2{
		th {
			background-color: #fff !important;
		}

		td {
			background-image: url(../image/teamshien/bg_table2.png);
		}
	}
}