/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* main title
------------------------------------------------------------*/
.c-maintitle1 {
	width: 100%;
	position: relative;

	img {
		width: 100%;
	}

	&__content {
		width: 100%;
		position: absolute;
		top: 50%;
		margin-top: -38px;
		text-align: center;

		&__big {
			font-size: 3.6rem;
			font-family: RyuminPro;
			font-weight: 500;
			color: #f2f1d8;
		}

		&__small {
			font-size: 1.8rem;
			font-family: Times New Roman;
			font-weight: 500;
			color: #f2f1d8;
		}
	}
}

/* 1
------------------------------------------------------------*/
.c-title1 {
	text-align: center;
	margin: 30px 0;

	&__big {
		font-size: 3.4rem;
		line-height: 40px;
		font-family: RyuminPro;
		font-weight: 500;
		color: #640000;
		text-decoration: none;
	}

	&__sub {
		font-size: 2rem;
		line-height: 24px;
		font-family: Times New Roman;
		font-weight: 500;
		color: #a50000;
	}
}

/* 2
------------------------------------------------------------*/
.c-title2 {
	border-top: 1px solid #a50000;
	border-bottom: 1px solid #a50000;
	padding: 26px 0;

	p {
		font-size: 2.2rem;
		font-family: Meiryo;
		font-weight: 500;
		color: #640000;
	}
}

/* 3
------------------------------------------------------------*/
.c-title3 {
	text-align: center;
	border-top: 1px solid #a50000;
	border-bottom: 1px solid #a50000;
	padding: 28px 0;

	p {
		font-size: 2.4rem;
		font-family: RyuminPro;
		font-weight: 500;
		color: #640000;
		line-height: 32px;
		display: inline-block;
	}
}


/* 4
------------------------------------------------------------*/
.c-title4 {
	text-align: center;
	padding: 0 0 30px;

	p {
		font-size: 3.4rem;
		font-family: RyuminPro;
		font-weight: 500;
		color: #640000;
	}
}


/* 5
------------------------------------------------------------*/
.c-title5 {
	padding: 0 0 25px;
	p {
		font-size: 2.2rem;
		line-height: 22px;
		font-family: RyuminPro;
		font-weight: 500;
		color: #640000;
		display: inline-block;
	}
}

/* 6
------------------------------------------------------------*/
.c-title6 {
	p {
		font-size: 1.6rem;
		font-family: Meiryo;
		font-weight: bold;
		color: #a50000;
	}
}

/* 7
------------------------------------------------------------*/
.c-title7 {
	text-align: right;
	padding: 20px 0;
	p {
		font-size: 1.4rem;
		font-family: Meiryo;
		font-weight: bold;
		color: #a50000;
	}
}


/* 100
------------------------------------------------------------*/
.c-title100 {
	background-image: url(../image/top/bg.png);
	position: relative;

	//
	//-------------------------------------------------------
	.c-btn1 {
		position: absolute;
		right: 22%;
		top: 3px;
	}

	//
	//-------------------------------------------------------
	.c-title1 {
		margin: 0;
	}
}
